<div class="settings-overlay" [class.open]="isOpen" (click)="onClose()">
  <div class="settings-modal scale-in-hor-right" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>Configuración de Audio</h2>
      <ion-button class="close-button" fill="clear" (click)="onClose()">
        <ion-icon  name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <form [formGroup]="settingsForm">
      <div class="modal-content">
        <div class="setting-group">
          <div class="label-row">
            <ion-label class="setting-label">Volumen de la Ruleta</ion-label>
            <span class="value-badge">{{ settingsForm.get('volume')?.value }}%</span>
          </div>
          <p class="setting-description">Ajusta el volumen del sonido de la ruleta</p>
          <ion-range
            formControlName="volume"
            [min]="0"
            [max]="100"
            [step]="5"
            [pin]="true"
            [pinFormatter]="pinFormatter"
            (ionChange)="onVolumeChange($event)"
            color="warning">
            <ion-icon name="volume-mute" slot="start"></ion-icon>
            <ion-icon name="volume-high" slot="end"></ion-icon>
          </ion-range>
        </div>

        <div class="setting-group">
          <div class="label-row">
            <ion-label class="setting-label">Volumen de Interfaz</ion-label>
            <span class="value-badge">{{ settingsForm.get('uiVolume')?.value }}%</span>
          </div>
          <p class="setting-description">Ajusta el volumen de los sonidos de botones y fichas</p>
          <ion-range
            formControlName="uiVolume"
            [min]="0"
            [max]="100"
            [step]="5"
            [pin]="true"
            [pinFormatter]="pinFormatter"
            (ionChange)="onUIVolumeChange($event)"
            color="warning">
            <ion-icon name="volume-mute" slot="start"></ion-icon>
            <ion-icon name="volume-high" slot="end"></ion-icon>
          </ion-range>
        </div>
      </div>
    </form>

  </div>
</div>